# 基础数据
字段
解释
instance_id
样本编号，Long
is_trade
是否交易的标记位，Int类型；取值是0或者1，其中1 表示这条样本最终产生交易，0 表示没有交易
item_id
广告商品编号，Long类型
user_id
用户的编号，Long类型
context_id
上下文信息的编号，Long类型
shop_id
店铺的编号，Long类型

In [1]:
import pandas as pd

train_data = pd.read_csv('../DATA/round1_ijcai_18_train_20180301.txt',sep=' ')
train_data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4006,5799347067982556520:-1;509660095530134768:-1;5...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:5131280576272319091;725801...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4016,509660095530134768:-1;5799347067982556520:-1;7...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0

In [2]:
testa_data = pd.read_csv('../DATA/round1_ijcai_18_test_a_20180301.txt',sep=' ')
testa_data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_timestamp,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description
0,2475218615076601065,2275895163219263378,7908382889764677758;8277336076276184272,2636395404473730413;7515802706813700848;302719...,7838285046767229711,7534238860363577544,7,6,8,14,...,1537885700,4005,8277336076276184272:-1;5799347067982556520:-1;...,5275548996133547595,13,0.985244,5011,0.964023,0.966550,0.955378
1,398316874173557226,7096238490711246967,7908382889764677758;5755694407684602296,5131280576272319091;2636395404473730413;734498...,8126195666233054089,3948283326616421003,6,9,8,16,...,1537862843,4001,"5755694407684602296:216555019471416386,2636395...",329470548383752413,14,0.989068,5012,0.963794,0.964225,0.959134
2,6586402638209028583,7096238490711246967,7908382889764677758;5755694407684602296,5131280576272319091;2636395404473730413;734498...,8126195666233054089,3948283326616421003,6,9,8,16,...,1537858222,4011,5755694407684602296:2636395404473730413;871073...,329470548383752413,14,0.989068,5012,0.963794,0.964225,0.959134
3,1040996105851528465,7096238490711246967,7908382889764677758;5755694407684602296,5131280576272319091;2636395404473730413;734498...,8126195666233054089,3948283326616421003,6,9,8,16,...,1537860915,4001,8710739180200009128:-1;5755694407684602296:263...,329470548383752413,14,0.989068,5012,0.963794,0.964225,0.959134
4,6316278569655873454,7096238490711246967,7908382889764677758;5755694407684602296,5131280576272319091;2636395404473730413;734498...,8126195666233054089,3948283326616421003,6,9,8,16,...,1537859074,4001,5755694407684602296:5131280576272319091;871073...,329470548383752413,14,0.989068,5012,0.963794,0.964225,0.959134

# 分析

In [3]:
train_data.columns

Index(['instance_id', 'item_id', 'item_category_list', 'item_property_list',
       'item_brand_id', 'item_city_id', 'item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'user_id', 'user_gender_id',
       'user_age_level', 'user_occupation_id', 'user_star_level', 'context_id',
       'context_timestamp', 'context_page_id', 'predict_category_property',
       'shop_id', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description', 'is_trade'],
      dtype='object')

In [6]:
train_base = train_data[['instance_id', 'item_id','user_id','context_id','shop_id', 'is_trade']]
train_base.head()

,instance_id,item_id,user_id,context_id,shop_id,is_trade
0,108641074714126964,3412720377098676069,4505772604969228686,282924576738839389,6765930309048922341,0
1,5754713551599725161,3412720377098676069,2692638157208937547,4007979028023783431,6765930309048922341,0
2,842679481291040981,3412720377098676069,5247924392014515924,4884875192608989870,6765930309048922341,0
3,937088850059189027,3412720377098676069,2681414445369714628,840119421106178602,6765930309048922341,0
4,7975697065017708072,3412720377098676069,2729475788342039013,1736769971710354684,6765930309048922341,0

In [8]:
train_base[train_base['is_trade']>0].head() #有交易

,instance_id,item_id,user_id,context_id,shop_id,is_trade
14,7972325483281584825,285660928590172217,5724091758094305190,7612168924020353960,4885989684392199728,1
52,5698113918818659664,919980016657888153,5474990358456624193,2432002077791871892,6597981382309269962,1
55,3398773118902833938,557883074900282934,5182176932390263202,2062657431703261636,6597981382309269962,1
83,8127284011992533394,1093710751022752245,5560193269455218286,4309974541237914573,6597981382309269962,1
129,7059890618965359082,2540781378235236842,3143949424654601991,6098366447654311706,6597981382309269962,1

In [9]:
##广告商品特征提取
item = train_data[['item_category_list', 'item_property_list',
       'item_brand_id', 'item_city_id', 'item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level',]]
item.head()

,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level
0,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14
1,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14
2,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14
3,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14
4,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14

In [12]:
item[['item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level']].max()

item_price_level        17
item_sales_level        17
item_collected_level    17
item_pv_level           21
dtype: int64

In [13]:
item[['item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level']].min()

item_price_level        0
item_sales_level       -1
item_collected_level    0
item_pv_level           0
dtype: int64

In [11]:
##店铺
shop = train_data[[ 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description']]
shop.head()

,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description
0,4,1.0,5002,1.0,1.0,1.0
1,4,1.0,5002,1.0,1.0,1.0
2,4,1.0,5002,1.0,1.0,1.0
3,4,1.0,5002,1.0,1.0,1.0
4,4,1.0,5002,1.0,1.0,1.0

In [14]:
shop.min()

shop_review_num_level           0.0
shop_review_positive_rate      -1.0
shop_star_level              4999.0
shop_score_service             -1.0
shop_score_delivery            -1.0
shop_score_description         -1.0
dtype: float64

# 特征数据

In [18]:
feature_data = train_data[['item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description','is_trade']]

feature_data = feature_data[(feature_data['item_sales_level']>-1) & (feature_data['shop_review_positive_rate']>-1) & (feature_data['shop_score_service']>-1) & (feature_data['shop_score_delivery']>-1) & (feature_data['shop_score_description']>-1)]
feature_data = feature_data.drop_duplicates()

In [21]:
feature_data.head()

,item_price_level,item_sales_level,item_collected_level,item_pv_level,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,3,3,4,14,4,1.000000,5002,1.000000,1.000000,1.000000,0
6,8,9,8,13,15,0.985427,5012,0.974878,0.976863,0.969278,0
8,8,9,10,16,15,0.985427,5012,0.974878,0.976863,0.969278,0
14,8,9,8,13,15,0.985427,5012,0.974878,0.976863,0.969278,1
29,7,7,13,14,14,0.980592,5012,0.972680,0.972113,0.970680,0

In [20]:
feature_data['is_trade'].sum()

5081

# 训练预测模型

In [27]:
from sklearn.cross_validation import train_test_split

X_train, X_test,y_train,y_test = train_test_split(feature_data[['item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description']],feature_data[['is_trade']], test_size = 0.2)

In [30]:
X_train.head()

,item_price_level,item_sales_level,item_collected_level,item_pv_level,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description
443919,7,11,11,15,12,0.960240,5009,0.972652,0.971439,0.969226
315694,4,8,10,14,14,1.000000,5011,0.971210,0.972464,0.974339
365055,4,7,12,12,12,0.967328,5010,0.974991,0.971865,0.966607
47840,8,9,12,14,13,0.989639,5011,0.984033,0.983524,0.981491
263520,7,11,12,18,14,1.000000,5012,0.974357,0.974357,0.988214

In [31]:
y_train.head()

        is_trade
443919         0
315694         0
365055         0
47840          0
263520         0

In [36]:
from sklearn.linear_model import LogisticRegression

LRmodel = LogisticRegression()
LRmodel.fit_transform(X=X_train,y=y_train)

C:\Users\ThinkPad\Anaconda3\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ThinkPad\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:70: DeprecationWarning: Function transform is deprecated; Support to use estimators as feature selectors will be removed in version 0.19. Use SelectFromModel instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[  7.,  11.,  15.],
       [  4.,   8.,  14.],
       [  4.,   7.,  12.],
       ...,
       [  7.,  11.,  18.],
       [  9.,  12.,  18.],
       [  7.,   9.,  15.]])

In [37]:
predict_y = LRmodel.predict(X_test)

In [49]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report 
# from sklearn.metrics import precision_recall_curve, roc_curve, auc 

# precision, recall, thresholds = precision_recall_curve(y_true=y_test, predict_y)

print(confusion_matrix(y_true=y_test,y_pred=predict_y))

[[7653   37]
 [1019   39]]

In [43]:
print(classification_report(y_pred=predict_y,y_true=y_test))

             precision    recall  f1-score   support

          0       0.88      1.00      0.94      7690
          1       0.51      0.04      0.07      1058

avg / total       0.84      0.88      0.83      8748

In [ ]:
#评估
import scipy as sp

def logloss(act, pred):
    epsilon = 1e-15
    pred = sp.maximum(epsilon, pred)
    pred = sp.minimum(1-epsilon, pred)
    ll = sum(act*sp.log(pred) + sp.subtract(1,act)*sp.log(sp.subtract(1,pred)))
    ll = ll * -1.0/len(act)
    return ll

In [40]:
predict_proba_y = LRmodel.predict_proba(X_test)[:,1]

array([ 0.05826727,  0.00824221,  0.30974026, ...,  0.04722266,
        0.13049614,  0.03490332])

In [51]:
#持久化模型
from sklearn.externals import joblib

joblib.dump(LRmodel,'./LR.model')

['./LR.model']

# 预测

In [53]:
test_feature_data = testa_data[['item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description']]

test_predict_proba_y = LRmodel.predict_proba(test_feature_data)

In [58]:
predicted_score_y = pd.DataFrame(test_predict_proba_y[:,1],columns=['predicted_score'])

In [59]:
result = pd.concat([testa_data[['instance_id']],predicted_score_y],axis=1)

In [62]:
result.head()

           instance_id  predicted_score
0  2475218615076601065         0.040461
1   398316874173557226         0.167829
2  6586402638209028583         0.167829
3  1040996105851528465         0.167829
4  6316278569655873454         0.167829

In [65]:
result.to_csv('../output_result/round1_ijcai_18_result_20180325.txt',index=False,sep=' ',encoding='utf8')