In [52]:
import pandas as pd

train_data = pd.read_csv('../DATA/round1_ijcai_18_train_20180301.txt',sep=' ')
# train_data.head()
testa_data = pd.read_csv('../DATA/round1_ijcai_18_test_a_20180301.txt',sep=' ')
# testa_data.head()

In [2]:
train_data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4006,5799347067982556520:-1;509660095530134768:-1;5...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:5131280576272319091;725801...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4016,509660095530134768:-1;5799347067982556520:-1;7...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0

In [3]:
#上下文
context = train_data[['context_id',
       'context_timestamp', 'context_page_id', 'predict_category_property']]

context.head()

,context_id,context_timestamp,context_page_id,predict_category_property
0,282924576738839389,1537236544,4006,5799347067982556520:-1;509660095530134768:-1;5...
1,4007979028023783431,1537243232,4001,5799347067982556520:9172976955054793469;790838...
2,4884875192608989870,1537211052,4001,5799347067982556520:5131280576272319091;725801...
3,840119421106178602,1537222670,4016,509660095530134768:-1;5799347067982556520:-1;7...
4,1736769971710354684,1537271320,4001,5799347067982556520:9172976955054793469;790838...

In [5]:
context['context_page_id'].min()

4001

In [51]:
import time
 
def timestamp_datetime(value):
    '''
    unix时间戳转成日期格式
    '''
    value = time.localtime(value)
    dt = time.strftime('%Y-%m-%d %H:%M:%S', value)
    return dt

# context['context_timestamp'] = 
# context['context_timestamp'].map(timestamp_datetime)

In [10]:
#用户
user = train_data[['user_id', 'user_gender_id',
       'user_age_level', 'user_occupation_id', 'user_star_level']]
user.head()

,user_id,user_gender_id,user_age_level,user_occupation_id,user_star_level
0,4505772604969228686,1,1003,2005,3003
1,2692638157208937547,0,1002,2005,3006
2,5247924392014515924,0,1003,2005,3004
3,2681414445369714628,1,1004,2005,3006
4,2729475788342039013,0,1002,2005,3001

In [13]:
user['user_age_level'].min(),user['user_occupation_id'].min(),user['user_star_level'].min()

(-1, -1, -1)

In [14]:
user['user_age_level'].max(),user['user_occupation_id'].max(),user['user_star_level'].max()

(1007, 2005, 3010)

In [53]:
feature_data = train_data[['item_price_level', 'item_sales_level','item_collected_level', 'item_pv_level', 
                           'shop_review_num_level', 'shop_review_positive_rate','shop_star_level', 'shop_score_service', 'shop_score_delivery','shop_score_description',
                           'user_gender_id', 'user_age_level', 'user_occupation_id', 'user_star_level',
                           'context_page_id','is_trade']]

feature_data = feature_data[feature_data['item_price_level']>-1]
feature_data = feature_data[feature_data['item_sales_level']>-1]
feature_data = feature_data[feature_data['item_collected_level']>-1]
feature_data = feature_data[feature_data['item_pv_level']>-1]
feature_data = feature_data[feature_data['shop_review_num_level']>-1]
feature_data = feature_data[feature_data['shop_review_positive_rate']>-1]
feature_data = feature_data[feature_data['shop_star_level']>-1]
feature_data = feature_data[feature_data['shop_score_service']>-1]
feature_data = feature_data[feature_data['shop_score_delivery']>-1]
feature_data = feature_data[feature_data['shop_score_description']>-1]
feature_data = feature_data[feature_data['user_gender_id']>-1]
feature_data = feature_data[feature_data['user_age_level']>-1]
feature_data = feature_data[feature_data['user_occupation_id']>-1]
feature_data = feature_data[feature_data['user_star_level']>-1]
feature_data = feature_data[feature_data['context_page_id']>-1]
feature_data = feature_data.drop_duplicates()
feature_data.head()

,item_price_level,item_sales_level,item_collected_level,item_pv_level,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,user_gender_id,user_age_level,user_occupation_id,user_star_level,context_page_id,is_trade
0,3,3,4,14,4,1.0,5002,1.0,1.0,1.0,1,1003,2005,3003,4006,0
1,3,3,4,14,4,1.0,5002,1.0,1.0,1.0,0,1002,2005,3006,4001,0
2,3,3,4,14,4,1.0,5002,1.0,1.0,1.0,0,1003,2005,3004,4001,0
3,3,3,4,14,4,1.0,5002,1.0,1.0,1.0,1,1004,2005,3006,4016,0
4,3,3,4,14,4,1.0,5002,1.0,1.0,1.0,0,1002,2005,3001,4001,0

In [54]:
feature_data['shop_star_level'] = feature_data['shop_star_level']-5000
feature_data['user_age_level'] = feature_data['user_age_level']-1000
feature_data['user_occupation_id'] = feature_data['user_occupation_id']-2000
feature_data['user_star_level'] = feature_data['user_star_level']-3000
feature_data['context_page_id'] = feature_data['context_page_id']-4000

In [55]:
feature_data.head()

,item_price_level,item_sales_level,item_collected_level,item_pv_level,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,user_gender_id,user_age_level,user_occupation_id,user_star_level,context_page_id,is_trade
0,3,3,4,14,4,1.0,2,1.0,1.0,1.0,1,3,5,3,6,0
1,3,3,4,14,4,1.0,2,1.0,1.0,1.0,0,2,5,6,1,0
2,3,3,4,14,4,1.0,2,1.0,1.0,1.0,0,3,5,4,1,0
3,3,3,4,14,4,1.0,2,1.0,1.0,1.0,1,4,5,6,16,0
4,3,3,4,14,4,1.0,2,1.0,1.0,1.0,0,2,5,1,1,0

In [56]:
from sklearn.cross_validation import train_test_split

X_train, X_test,y_train,y_test = train_test_split(feature_data.drop(['is_trade'],axis=1),feature_data[['is_trade']], test_size = 0.2)

In [60]:
y_test

        is_trade
302659         0
213940         0
328539         0
305667         0
190621         0
72207          0
352571         0
213528         0
105488         0
10435          0
408047         0
468812         0
357627         0
251515         0
257433         0
416598         0
36987          0
200028         0
35830          0
416481         0
430490         0
194073         0
37173          0
248116         0
170108         0
386665         0
132360         0
80181          0
417423         0
174650         0
...          ...
465738         0
368790         0
405779         0
4146           0
173266         0
106225         0
369403         0
321450         0
121249         0
155261         0
368408         0
32552          0
408754         0
297012         0
127523         0
381385         0
215611         0
58449          0
184581         0
373517         0
288997         0
448403         0
199587         0
373438         0
452474         0
17357          0
255589         0
344007         0
10309          0
252127         0

[79911 rows x 1 columns]

In [61]:
from sklearn.linear_model import LogisticRegression

LRmodel = LogisticRegression()
LRmodel.fit_transform(X=X_train,y=y_train)

C:\Users\ThinkPad\Anaconda3\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ThinkPad\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:70: DeprecationWarning: Function transform is deprecated; Support to use estimators as feature selectors will be removed in version 0.19. Use SelectFromModel instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 1.        ,  0.96033833,  0.96263846,  0.97843264],
       [ 1.        ,  0.96635186,  0.96524489,  0.98359763],
       [ 0.9858506 ,  0.97384919,  0.97298291,  0.96908465],
       ...,
       [ 0.99526592,  0.97899651,  0.9789616 ,  0.97471417],
       [ 0.99494117,  0.97529771,  0.97432945,  0.97240399],
       [ 1.        ,  0.98177716,  0.98100355,  0.98196626]])

In [62]:
predict_y = LRmodel.predict(X_test)

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report 
# from sklearn.metrics import precision_recall_curve, roc_curve, auc 

# precision, recall, thresholds = precision_recall_curve(y_true=y_test, predict_y)

print(confusion_matrix(y_true=y_test,y_pred=predict_y))

[[78150     0]
 [ 1761     0]]

In [63]:
predict_proba_y = LRmodel.predict_proba(X_test)[:,1]

In [67]:
predict_proba_y

array([ 0.02726858,  0.01069221,  0.01092995, ...,  0.01245361,
        0.06739325,  0.01023412])

In [64]:
#评估
import scipy as sp

def logloss(act, pred):
    epsilon = 1e-15
    pred = sp.maximum(epsilon, pred)
    pred = sp.minimum(1-epsilon, pred)
    ll = sum(act*sp.log(pred) + sp.subtract(1,act)*sp.log(sp.subtract(1,pred)))
    ll = ll * -1.0/len(act)
    return ll

In [65]:
from sklearn.metrics import log_loss

log_loss(y_true=y_test,y_pred=predict_proba_y)

0.10160464760088692

# 预测

In [71]:
test_feature_data = testa_data[['item_price_level', 'item_sales_level','item_collected_level', 'item_pv_level', 
                           'shop_review_num_level', 'shop_review_positive_rate','shop_star_level', 'shop_score_service', 'shop_score_delivery','shop_score_description',
                           'user_gender_id', 'user_age_level', 'user_occupation_id', 'user_star_level',
                           'context_page_id']]

test_feature_data['shop_star_level'] = test_feature_data['shop_star_level']-5000
test_feature_data['user_age_level'] = test_feature_data['user_age_level']-1000
test_feature_data['user_occupation_id'] = test_feature_data['user_occupation_id']-2000
test_feature_data['user_star_level'] = test_feature_data['user_star_level']-3000
test_feature_data['context_page_id'] = test_feature_data['context_page_id']-4000

test_predict_proba_y = LRmodel.predict_proba(test_feature_data)
predicted_score_y = pd.DataFrame(test_predict_proba_y[:,1],columns=['predicted_score'])
result = pd.concat([testa_data[['instance_id']],predicted_score_y],axis=1)
result.head(10)

C:\Users\ThinkPad\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ThinkPad\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\ThinkPad\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ThinkPad\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\ThinkPad\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

           instance_id  predicted_score
0  2475218615076601065         0.006371
1   398316874173557226         0.028247
2  6586402638209028583         0.018206
3  1040996105851528465         0.026437
4  6316278569655873454         0.020771
5   868158305045921978         0.026536
6  5713520501786699854         0.017556
7   932945015407923184         0.013713
8  1919197847086752313         0.011191
9   304887065966615346         0.013791

In [73]:
result.to_csv('../output_result/round1_ijcai_18_result_20180409.txt',index=False,sep=' ',encoding='utf8')